json/example/example_input_tweets_big.txt filter=lfs diff=lfs merge=lfs -text
json/.valenciasearch.json.swp filter=lfs diff=lfs merge=lfs -text
json/.valenciasearch.json filter=lfs diff=lfs merge=lfs -text
